{% extends 'base.html.twig' %}
{% block title %}Portfoliot{{ controller_name }}!{% endblock %}
{% block body %}

<!-- #region Cube -->
<div class="s_imgbackground">
	<div id="wrapD3Cube">
		<div id="D3Cube" class="g_width80vw">
			<div id="side1">
				<div class="s_contentSide g_height100prc g_width100prc">
					<h1 class="titreProjet"></h1><span> (side1)</span>
				</div>info<div class="triangle-code g_pointer"></div>
			</div>
			<div id="side2">
				<div class="s_contentSide g_height100prc g_width100prc">
					<h1 class="titreProjet"></h1><span> (side2)</span>
					<h2>Contexte technique</h2>
					<p id="techno"></p>
				</div>info<div class="triangle-code g_pointer"></div>
			</div>
			<div id="side3">
				<!--diapo 1-->
				<div class="s_contentSide g_height100prc g_width100prc">
					<h1 class="titreProjet"></h1> <span> (side3)</span>
					<h2>Description et contexte de réalisation</h2>
					<p id="description"></p>
				</div>info<div class="triangle-code g_pointer"></div>
			</div>

			<div id="side4"><div class="s_contentSide g_height100prc g_width100prc"><h1 class="titreProjet"></h1><span> (side4)</span></div>info<div class="triangle-code g_pointer"></div></div>
			<div id="side5"><div class="s_contentSide g_height100prc g_width100prc"><h1 class="titreProjet"></h1><span> (side5)</span></div>info<div class="triangle-code g_pointer"></div></div>
			<div id="side6"><div class="s_contentSide g_height100prc g_width100prc"><h1 class="titreProjet"></h1><span> (side6)</span></div>info<div class="triangle-code g_pointer"></div></div>
		</div>
	</div>
	<div class="s_controlPannelContainer">
		<div class="s_controlPannel g_padding5px">
			<p class="g_txtcenter">
				<a id="playBefore" class="g_svgIconWhite" onclick="turnLeft()">Left</a>
				<a id="playNext" class="g_svgIconWhite" onclick="turnRight()">Right</a> <br />
				<!--<a id="playFlip" class="g_svgIconWhite" onclick="flipCube()">Flip</a>-->
				<a id="launch" href="" class="g_svgIconWhite" target="_blank">Flip</a>
			</p>
		</div>
	</div>
	<!--<div class="example-wrapper">
		<h1>Hello { controller_name }}! ✅</h1>
		This friendly message is coming from:
		<ul>
			<li>Your controller at <code><a href="{ 'src/Controller/AppController.php'|file_link(0) }}">src/Controller/AppController.php</a></code></li>
			<li>Your template at <code><a href="{ 'templates/app/index.html.twig'|file_link(0) }}">templates/app/index.html.twig</a></code></li>
		</ul>
	</div>-->
	<!-- #endregion fin cube-->
	<!-- #region Whois Erick BEAUGENDRE -->

	<div id="MonParcours" class="g_width100vw g_flexjustifycenter s_monParcours ">
		<div class="s_whoisContainer g_width80vw monparcour-on-small-column">
			<section class="g_width33prc g_padding30px column-on-small" onclick="MyScroll(this.offsetTop);">
				<div class="icon-block">
					<p class="center light-blue-text"><i class="material-icons">flash_on</i></p>
					<h1 class="center">Mon parcours</h1>
					<h2>Formation initiale</h2>

					<p>Menuisier, ébéniste, Techniques industrielles d'agencement et de mobilier.</p>
					<h2>Formation continue</h2>
					<p>Cursus CNAM informatique de gestion + Psychologie du travail, gestion-comptabilité, management, gestion de projets</p>
					<h2>Expériences professionnelles</h2>
					<p>Menuiserie, ébénisterie, commande numérique, coordination de chantier et d'atelier, étude de prix.</p>
					<p>Chargé de l'informatisation PME, développement de programmes de gestion.</p>
					<p>Consultant/formateur pour un cabinet d'ingénierie sociale : conduite du changement, formation, rédaction et PAO de documentation utilisateur et supports de formation.</p>
					<p>Créateur et gérant de SARL : conseil, formation, développement informatique et multimédia (supports web, print, cd-rom DVDRom).</p>
				</div>
			</section>

			<section id="Competences" class="mesCompetences g_width33prc g_padding30px column-on-small">
				<div class="icon-block">
					<p class="center light-blue-text"><i class="material-icons">group</i></p>
					<h1 class="center">Mes compétences</h1>
					<h2>Avant la formation</h2>
					<p>Développement VB.NET desktop, développement VBA Microsoft Office (Excel, Access, Word, ...)</p>
					<p>Développement Web ASP.net, VB.net, html, CSS, JavaScript, BDD Firebird, MS SQLServer.</p>
					<p>Administration de serveur IIS, serveur de mail MailEnable, avec ou sans utilisation de Plesk.</p>
					<h2>Acquises durant la formation</h2>
					<p>Html5, css3, svg, php, gitHub</p>
					<p>Frameworks CSS/javascript : Bootstrap, Materialize, jQuerry, etc …</p>
					<p>Frameworks PHP : synfony, CMS Wordpress.</p>
					<p>Méthodes POO, OOCSS, architecture MVC.</p>
					<p>Utilisation Wamp/Xamp.</p>
				</div>
			</section>
			<section id="Projets" class="mesProjets g_width33prc g_padding30px column-on-small">
				<div class="icon-block">
					<p class="center light-blue-text"><i class="material-icons">settings</i></p>
					<h1 class="center">Mes projets et ambitions</h1>

					<h2>A court terme</h2>
					<p>Trouver un emploi designer web / développer web</p>
					<h2>Moyen et long terme</h2>
					<p>Création d'une agence de communication digitale en collaboration avec graphiste</p>
					<p>Développement d'une plateforme de gestion d'achats mutualisés, et vente en ligne, d'organisation d'évènement destinée à des artisans d'art. (projet en cours de développement 80% avant version Alpha)</p>

				</div>
			</section>

		</div>
	</div>
</div>
<!-- #endregion -->
{% endblock %}
