<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    {% endblock %}
</head>
<body>
    {% block nav %}
    <nav class="light-blue lighten-1 spec_fixednav" role="navigation">
        <div class="unfoldmore"><i class="material-icons white-text ">unfold_more</i></div>
        <div class="nav-wrapper container">
            <div class="flex-v-middle">
            <a id="logo-container" href="#" class="brand-logo">L'effet Erick<img class="logo" src="img/btfl.svg" alt="logo" /></a>
            </div>
            <ul class="right hide-on-med-and-top ">
                <li><a href="#"><span class="material-icons white-text paddingtop5">person</span> Whois Erick Beaugendre</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="#"><span class="material-icons light-blue paddingtop5">person</span>Whois Erick Beaugendre</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>

    </nav>

    {% endblock %}


    {% block body %}{% endblock %}

    {% block foot %}
    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>

                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Reseaux sociaux</h5>
                    <ul>
                        <li><a id="logo-facebook" href="#" class="brand-logo"><img class="logo" src="img/facebook-logo.svg" alt="logo" /></a></li>
                        <li><a id="logo-github" href="#" class="brand-logo"><img class="logo" src="img/github-sign.svg" alt="logo" /></a></li>
                        <li><a id="logo-linkedin" href="#" class="brand-logo"><img class="logo" src="img/linked-in-square-button.svg" alt="logo" /></a></li>
                        <li><a id="logo-twiter" href="#" class="brand-logo"><img class="logo" src="img/twitter-logo.svg" alt="logo" /></a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>

    {% endblock %}


    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    {% endblock %}
</body>
</html>
